<div class="container text-center">
    <input type="text" data-ng-model="model.search"
           class="form-control row" placeholder="Text input">
           <!--typeahead="entry.title for entry in model.playList | filter:model.search">-->

    <div class="row">
        <div class="playlist_container col-md-8">
            <div class="entry" data-ng-repeat="entry in model.youtube.stream.items" data-ng-if="entry.id.kind == 'youtube#video'">
                <div>
                    <div class="thumbnail right-caption span4">
                        <img ng-src="{{entry.snippet.thumbnails.medium.url}}" alt="">
                        <div class="caption">
                            <h5>{{entry.snippet.channelTitle}}</h5>
                            <p>{{entry.snippet.description}}</p>
                            <p>{{entry.id.videoId}}</p>
                            <p><a class="btn btn-primary" role="button" ng-click="playFromPlaylist(entry.id.videoId)">Add to Playlist</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row playlist_container_v2 col-md-4">
            <div class="row entry" data-ng-repeat="songEntry in model.playList">
                <div>
                    <span>{{songEntry.title}}</span>
                    -
                    <span>{{songEntry.url}}</span>
                    -
                    <span>{{songEntry.videoId}}</span>
                </div>
            </div>
        </div>
    </div>

    
    <div class=" row form-control">
      <p>
        <a class="btn btn-primary" role="button" ng-click="sendAudioCommand('seekTo', 0)">Start</a>
        <a class="btn btn-primary" role="button" ng-click="sendAudioCommand('playVideo')">Play</a>
        <a class="btn btn-default" role="button" ng-click="sendAudioCommand('pauseVideo')">Pause</a>
        <!-- <a class="btn btn-primary" role="button" ng-click="sendAudioCommand('playVideo')">Skip</a>  -->
      </p>
    </div>

  <iframe id="youtube-player" type="text/html" width="640" height="385" ng-src="{{videoUrl}}" allowfullscreen frameborder="0" >

</div>