<div class="container text-center">
    <input type="text" data-ng-model="model.search"
           class="form-control row" placeholder="Text input">
           <!--typeahead="entry.title for entry in model.playList | filter:model.search">-->

    <div class="row">
        <div class="playlist_container col-md-6">
            <div class="entry" data-ng-repeat="entry in model.youtube.stream.items" data-ng-if="entry.id.kind == 'youtube#video'">
                <div>
                    <div class="thumbnail right-caption span4">
                        <img ng-src="{{entry.snippet.thumbnails.medium.url}}" alt="">
                        <div class="caption">
                            <h5>{{entry.snippet.channelTitle}}</h5>
                            <p>{{entry.snippet.title}}</p>
                            <p>{{entry.snippet.description}}</p>
                            <p><a class="btn btn-primary" role="button" ng-click="addToPlaylist(entry.snippet.channelTitle, entry.snippet.title, entry.id.videoId)">Add to Playlist</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row playlist_container_db col-md-4">
            <div class="row entry" data-ng-repeat="songEntry in model.playList | filter: model.playlistFiler">
                <div data-ng-class="{selected_song: songEntry.videoId == videoId}">
                    <span>{{songEntry.uploader}}</span>
                    -
                    <span>{{songEntry.title}}</span>
                    -
                    <span>{{songEntry.videoId}}</span>

                    <div>
                        <a class="btn btn-primary" role="button" ng-click="selectSong(songEntry.videoId)">Play</a>
                        <a class="btn btn-primary" role="button" ng-click="deleteSong(songEntry._id)">Delete</a>
                    </div>
                    <!----->
                    <!--<span>{{songEntry.createdAt}}</span>-->
                    <br><br>
                </div>
            </div>
        </div>

        <div class="row select_playlist_container col-md-4">
            <div class="row playlist_entry" data-ng-repeat="playlist in model.availablePlaylist">
                <div>
                    <span ng-click="selectPlaylist(playlist.name)"
                          ng-class="{selected_playlist: model.selectedPlaylist == playlist.name}">
                        {{playlist.name}}
                    </span>
                    <br><br>
                </div>
            </div>


            <input type="text" data-ng-model="newPlaylist"
                   class="form-control row" placeholder="Playlist input">
            <a class="btn btn-primary" role="button" ng-click="addPlaylist(songEntry.videoId)">Add Playist</a>
            <!--<a class="btn btn-primary" role="button" ng-click="deletePlaylist(songEntry._id)">Delete Playlist</a>-->
        </div>
    </div>

    
    <div class=" row form-control">
      <p>
        <a class="btn btn-primary" role="button" ng-click="sendAudioCommand('seekTo', 0)">Start</a>
        <a class="btn btn-primary" role="button" ng-click="sendAudioCommand('playVideo')">Play</a>
        <a class="btn btn-default" role="button" ng-click="sendAudioCommand('pauseVideo')">Pause</a>
        <!-- <a class="btn btn-primary" role="button" ng-click="sendAudioCommand('playVideo')">Skip</a>  -->
      </p>
    </div>

  <iframe id="youtube-player" type="text/html" width="640" height="385" ng-src="{{videoUrl}}" allowfullscreen frameborder="0" >

</div>
