/* Styles go here */
/* .thumbnail_image {
  float: left;
}

.thumbnail_caption {
  float: right;
} */

.thumbnail.right-caption > img {
    float: left;
    /* margin-right: 9px; */
}

.thumbnail.right-caption {
    /* float: right; */
}

.thumbnail.right-caption > .caption {
    /* padding: 4px; */
}

.playlist_container {
    height: 500px;
    overflow: scroll;
    width: 50%;
}

.playlist_container_db {
    /*float: right;*/
    height: 500px;
    overflow: scroll;
    width: 35%;
}

.select_playlist_container {
    /*float: right;*/
    height: 500px;
    overflow: scroll;
    width: 15%;
}

.playlist_entry {
    /*padding: 10px;*/
    /*width: 100px;*/
    /*height: 50px;*/
}


.playlist_entry:hover {
    cursor: pointer;
}

.selected_song {
    background-color: blue;
    color: white;
}

.selected_playlist {
    background-color: blue;
    color: white;
}

.entry {
    width: 95%;
    padding-left: 20px;
}

/*.entry:hover {*/
    /*cursor: pointer;*/
/*}*/